.container { //text in the middle//
  width: 70%;
  margin: auto;
  text-align: center;
}

body {
  background-color: red;
}

h1{
	color: rgb(11, 98, 170);
	text-align: center;
    text-shadow: 2px 2px 6px black;
    font-size: 70px;
}

p{
	color: rgb(11, 98, 170);
	text-align: center;
    text-shadow: 2px 2px 6px black;
    font-size: 50px;
}
